/*! responsive stylesheet .............  */

/* max widht 992 px  */
@media (max-width: 992px) {
  .flex-space-around {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
  }

  #nav-menu-icon {
    display: block;
    text-align: center;
    margin: 1rem 0;
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  .header {
    height: 100vh;
  }

  .products-section {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  /* product-page div  */
  /* left div  */
  .product-details-left {
    padding: 0 2rem;
  }
  /* right div  */
  .product-details-right {
    padding: 0 2rem;
    gap: 0.3rem;
  }

  /* product details left image  */
  .product-details-left .product-img {
    height: 10rem;
    width: 20rem;
  }

  .cart-items,
  .cart-payments {
    width: 90%;
  }

  .form {
    width: 100%;
  }

  .form-control {
    width: 100%;
  }

  .form-control input,
  textarea {
    width: 80%;
  }

  .registration .card,
  .login .card {
    width: 90%;
  }
}

/* max width 768 px  */
@media (max-width: 768px) {
  .products-section {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .flex-center {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
  }
}

/* max width 600 px  */
@media (max-width: 600px) {
}
